body {
    font-family: PolySans, ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    margin: 0;
    padding: 0;
  }
  
  .gap-x {
    /*padding: 0 50px;*/
  }
  
  .nav-link {
    
  }
  
  .navbar-nav {
    
  }
  .header-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    
  }

  .header {
    display: flex;
   
    align-items: center;
    
  
  }
  
  .navbar {
    height: 65px;
    position: absolute;
    
    top: 0;
    left: 0;
    right: -0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #00152E, #00152E);
    color: white; /* Optional: Set text color for contrast */
    padding: 30px;
  }
  .navs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar-collapse{
    margin-left: 10px;
    
  }
  .signin{
    margin-right: 110px;
  }
  
  /* .ml-auto{
      /*margin-right: 60px;*/
  
  .logo img{
      width: 45%;
      margin-left: 80px;
  }
  
  .hamburger {
    position: relative;
    height: 24px;
    width: 24px;
  }
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    height: 4px;
    width: 24px;
    background-color: var(--primary-color);
  }
  
  .hamburger-middle {
    transform: translateY(7px);
  }
  
  .hamburger-bottom {
    transform: translateY(14px);
  }


 